{% include 'header.html' %}
<br><br><br>
<form action="{{ url_for('servicios.editar_s', id=servicio['id']) }}" method="POST">
    <div class="mb-3">
        <label for="id_vehiculo" class="form-label">Placa Vehículo</label>
        <select name="id_vehiculo" class="form-control" required>
            <option value="">Seleccionar automóvil</option>
            {% for vehiculo in vehiculos %}
            <option value="{{ vehiculo['id'] }}" {% if vehiculo['id'] == servicio['id_vehiculo'] %}selected{% endif %}>
                {{ vehiculo['placa'] }} - {{ vehiculo['marca'] }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fecha_pago_servicio">Fecha</label>
        <input type="date" class="form-control" name="fecha_pago_servicio" value="{{ servicio['fecha_pago_servicio'] }}" required>
    </div>
    <div class="form-group">    
        <label for="monto">Monto</label>
        <input type="number" step="0.01" class="form-control" name="monto" value="{{ servicio['monto'] }}" required>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" name="descripcion" value="{{ servicio['descripcion'] }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Servicio</button>
</form>
{% include 'footer.html' %}
