{% include 'header.html' %}
<br><br>
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="fw-bold">REGISTRAR PAGO DE INGRESO</h2>
<form action="{{ url_for('ingresos.crear_i') }}" method="POST">

    <div class="mb-3">
        <label for="ci_afiliado" class="form-label">CI Afiliado</label>
        <select name="ci_afiliado" class="form-control" required>
            <option value="">Seleccionar Afiliado</option>
            {% for afiliado in afiliados %}
            <option value="{{ afiliado['ci'] }}" {% if ingreso and afiliado['ci'] == ingreso['ci_afiliado'] %}selected{% endif %}>
              {{ afiliado['ci'] }} - {{ afiliado['nombres'] }}
            </option>
            {% endfor %}
          </select>
    </div>
    <div class="mb-3">
        <label for="monto">Monto</label>
        <input type="text" class="form-control" name="monto" required>
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado del Pago:</label>
        <select id="estado" name="estado" class="form-select" required>
            <option value="pendiente">Pendiente</option>
            <option value="completo">Completo</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" name="fecha" required>
    </div>
    
    <div class="mb-3">
        <label for="observaciones">Observaciones</label>
        <textarea class="form-control" name="observaciones"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-light">GUARDAR</button>


</form>
</div>

{% include 'footer.html' %}