{% include 'header.html' %}
<br><br><br>
<div class="container mt-5">
    <h1 class="fw-bold">LISTADO DE PAGO INGRESO</h1>
    <table class="table-gris">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>CI Afiliado</th>
                <th>Monto</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ingreso in ingresos %}
            <tr>
                <!-- <td>{{ ingreso['id'] }}</td> -->
                <td>{{ ingreso['ci_afiliado'] }}</td>
                <td>{{ ingreso['monto'] }}</td>
                <td>{{ ingreso['estado'] }}</td>
                <td>{{ ingreso['fecha'] }}</td>
                <td>{{ ingreso['observaciones'] }}</td>
                <td>
                    <a href="{{ url_for('ingresos.editar_i', id=ingreso['id']) }}" class="btn btn-outline-info">Editar</a> | 
                    <a href="{{ url_for('ingresos.eliminar_i', id=ingreso['id']) }}" onclick="return confirm('¿Estás seguro?')" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    
    <a href="{{ url_for('ingresos.crear_i') }}" class="btn btn-outline-light">Nuevo Pago de Ingreso</a>
</div>

<div class="container mt-5">
    <h3 class="fw-bold">Monto Total: {{ total_monto }}</h3>
</div>

{% include 'footer.html' %}
