{% include 'header.html' %}
<br><br>

<div class="container mt-5" style="max-width: 600px;">
        <h2 class="fw-bold">REGISTRAR NUEVO PAGO</h1>
        
        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        
        <!-- registro de pago -->
        <div class="form-container">
            <form action="{{ url_for('pagos.save_pago') }}" method="POST">
                
                <div class="mb-3">
                    <label for="ci" class="form-label">CI Afiliado</label>
                    <select name="ci" class="form-control" required>
                        <option value="">Seleccionar Afiliado</option>
                        {% for afiliado in afiliados %}
                        <option value="{{ afiliado['ci'] }}" {% if vehiculo and afiliado['ci'] == COUTA_MENSUAL['ci'] %}selected{% endif %}>
                          {{ afiliado['ci'] }} - {{ afiliado['nombres'] }}
                        </option>
                        {% endfor %}
                      </select>
                </div>

                <div class="mb-3">
                    <label for="monto" class="form-label">Monto:</label>
                    <input type="number" id="monto" name="monto" class="form-control" placeholder="Ingrese el monto" step="0.01" min="0" required>
                </div>

                <div class="mb-3">
                    <label for="estado" class="form-label">Estado del Pago:</label>
                    <select id="estado" name="estado" class="form-select" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="completo">Completo</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="mes" class="form-label">Mes:</label>
                    <select id="mes" name="mes" class="form-select" required>
                        <option value="" disabled selected>Seleccione un mes</option>
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Ingrese una descripción opcional"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-light">GUARDAR PAGO</button>
                    <a href="{{ url_for('pagos.index') }}" class="btn btn-outline-danger">CANCELAR</a>
                </div>
            </form>
        </div>
    </div>


{% include 'footer.html' %}
