<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactenos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilo.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">STAR SERVICE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="cardi">
                <figure>
                    <!--<img src="images/testimonio.jpg" alt=""> -->
                </figure>
                <div class="contenido">
                    <h3>Contactenos</h3>
                    <P>Envieno su peticion nostros responderemos sus dudas</P>
                    <form  >
                        <label for="" name="usuario">Nombre</label>
                        <input type="text" name="usuario">
                        <br>
                        <label for="" name="email">Email</label>
                        <input type="email" name="email">
                        <br>
                        <label for="" name="descrip">Descripcion</label>
                        <input type="text" name="descrip" >
                        <br>
                        <input type="submit" value="SOLICITAR">
                    </form>
                </div>

                </div>
                <div class="cardi">
                    <figure>
                        <img src="/static/images/logo.webp">
                    </figure>
                    <div class="contenido">
                        <h3>Nuestra Informacion</h3>
                        <p>
                            Telefono: 591 77771234
                            <br>
                            Correo: star_service@gmail.com
                            <br>
                            Cede:La Paz-Bolivia/AV.Satelite 
                        </p>
                        
                    </div>
                </div>
                <div class="cardi">
                    <div class="contenido"><h3>Nuestra Ubicacion</h3></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d239.07201857817412!2d-68.16160329821646!3d-16.518407213524924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf75dafb0abf%3A0x547deea2b0b3365!2sAv.%201%20109%2C%20La%20Paz!5e0!3m2!1ses-419!2sbo!4v1733361288789!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>
    
                <footer>
                    <p>&copy; 2024 STAR SERVICE. Todos los derechos reservados.</p>
                    <div class="wrapper">
                        <ul>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                         <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                        <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                        <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                        </ul>
                     </div> 
                 </footer>
</body>
</html>